<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- IIS ARR Reverse Proxy Rule to PM2 Backend Node Process on Internal Port 5002 -->
        <rule name="Backend Node Proxy" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:5002/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <!-- Enable WebSockets Support for Socket.io -->
    <webSocket enabled="true" />
  </system.webServer>
</configuration>
